@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(
        rgba(20,20,20, .5),
        rgba(20,20,20, .5)),
        url("https://www.paisley.dariopizzeria.com/SiteContent/Images/HomePageHeader/HomePageHeader_129_68591.jpg") no-repeat fixed center;
    position: relative;
    z-index: 1;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /*padding: 20px 5%;*/
}
.pedir{
     display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.pedir h1 {
    font-family:  "Pacifico", sans-serif;
    font-size: 90px;
    color: #fff;
    margin-top: 0px;
}
.pedir h3 {
    color: #fff;
    font-size: 38px;
    font-family: "Montserrat", sans-serif;

}
.pedir button{
background: #0088a9;
    border: none;
    color: #fff;
    padding: 22px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px 0 0 0;

}
.pedir button:hover{
    color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  transition: all 0.2s ease;
  background-color: red;

}